/* スマートフォン用CSS */

header{
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#page{
  width: 90%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: #FFFFFF;
  margin-bottom: 20px;
  line-height: 1;
}

.flex{
  display: flex
}
.h3 {
	margin-top: 10px;
	margin-bottom: 5px;
}
.line {
	display: flex;
	align-items: center;
  font-size: 20px;
}
.line:after{
	border-top: 1px solid;
	content: "";
	flex-grow: 1;
}
.contents {
	margin-left: 10px;
}

footer{
  margin-top: 20px;
  margin-bottom: 20px;
}
